root { 
    display: block;
}
body{font-size: 12px; font-family: arial;background: url(../images/bg.jpg) }

.colorpicker{z-index: 1000}
.colorSelector, .bgColorSelector {position: relative;width: 36px;height: 36px; background: url(../../images/colorpicker/select.png);}

.colorSelector div, .bgColorSelector div {position: absolute;top: 3px;left: 3px;width: 30px;height: 30px;background: url(../../images/colorpicker/select.png) center;}

label{cursor:pointer}

.hide{display:none;}

.clearfix{clear:both;}	

h1 {display:block; margin:10px 30px 20px 0 ;font-size: 21px;}
h2 {font-size: 18px;}

input[type=checkbox],input[type=radio]
{
	/* Double-sized Checkboxes */
	-ms-transform: scale(2); /* IE */
	-moz-transform: scale(2); /* FF */
	-webkit-transform: scale(2); /* Safari and Chrome */
	-o-transform: scale(2); /* Opera */
	margin: 10px;
}

.custom-text { border:1px solid #D9D9D9; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; -webkit-transition: all 0.5s ease; -moz-transition: all 0.5s ease; -o-transition: all 0.5s ease; -ms-transition: all 0.5s ease; transition: all 0.5s ease; font: 12px/18px Arial, Helvetica, sans-serif; font-style: italic; color:#667484; padding:5px 10px; width:338px; height:25px; background: #fff; text-align: left; }
.layout-title{padding:12px 0 0 54px;font-size:36px; color:#fff; margin-right: 730px}
.search-box{float: right;width:414px;margin-top: 12px; margin-right:20px; position:relative;}
.search-box .custom-text{width:343px;float:right;padding-right:30px;}
.search-box .clear-icon{position: absolute; top:10px; right: 10px; width:18px; height: 18px; cursor:pointer; background-position: 0 -130px;}

.logout-button, .clear-icon, .slide-plus,.slide-minus,.arrow-left-red-icon,.cat-info-icon,.object-state-icon-tested,.object-state-icon-error,.object-type-icon-1,.object-type-icon-2,.object-type-icon-3,.object-type-icon-4,.object-type-icon-5,.object-type-icon-6{background-image: url(../images/icons.png);background-repeat: no-repeat;}

.wrapper{}

.header{height: 60px;background: url(../images/header-bg1.jpg), url(../images/header-bg3.jpg), url(../images/header-bg2.jpg);background-position: left top, right top, right top;background-repeat: no-repeat, no-repeat,repeat-x;}
.header a{color:#fff}


.container{margin-top:30px;}

.error-wr{font-size:16px;color:#ff0000;font-weight:bold;}

.user-auth-wr{float:right;margin:0px 20px 0 0;}

.user-auth-wr .user-auth-bar{color:#fff;}
.user-auth-wr .user-auth-bar .user-auth-login-name{margin:22px 50px 0 0;}
.user-auth-wr .user-auth-bar .logout-button{display:block; float:right; width:41px;height:41px; margin-top:-13px; background-position:-144px -15px; }
.user-auth-wr .user-auth-bar .logout-button:active{background-position:-189px -15px; }
.user-auth-wr .login-button{display:block;margin-top:22px;}

.content {margin:0 20px;}

.arrow-left-red-icon{width:34px;height:33px;background-position:-35px -23px; cursor:pointer}
.arrow-left-red-icon:hover{width:34px;height:33px;background-position:0 -23px;}

.cat-info-icon{position:absolute; right:10px;top:9px; width:34px;height:34px;background-position:-105px -23px; cursor:pointer}
.cat-info-icon:hover{width:34px;height:34px;background-position:-70px -23px;}

.object-old-id{position:absolute; right:95px;top:18px;}

.object-state-icon-tested{position:absolute; right:50px;top:9px; width:34px;height:34px;background-position:0px -92px; cursor:pointer}
.object-state-icon-tested:hover{background-position:0px -92px}

.object-state-icon-error{position:absolute; right:50px;top:9px; width:34px;height:34px;background-position:-34px -92px; cursor:pointer}
.object-state-icon-error:hover{background-position:-34px -92px;}

.catalog-index-page .cat-title{margin-left:90px;font-size: 20px;font-weight: bold;}
.catalog-index-page .error-wr{margin-left:90px;}

.object-icon-wr{float:left;}
.object-icon-wr .object-icon{cursor:pointer;}
.object-icon-wr .object-type-icon-1{width:22px;height:27px;top:9px;left:97px;background-position:-1px -58px;}
.object-icon-wr .object-type-icon-2{width:29px;height:25px;top:11px;left:92px;background-position:-29px -59px;}
.object-icon-wr .object-type-icon-3{width:31px;height:29px;top:9px;left:91px;background-position:-62px -59px;}
.object-icon-wr .object-type-icon-4{width:30px;height:32px;top:7px;left:94px;background-position:-101px -56px;}
.object-icon-wr .object-type-icon-5{width:24px;height:24px;top:13px;left:94px;background-position:-137px -60px;}
.object-icon-wr .object-type-icon-6{width:25px;height:27px;top:10px;left:95px;background-position:-169px -59px;}

.line-bar {position:relative;}
.line-bar .arrow-left-red-icon{position:absolute; left:14px;top:9px;}



.profile-table th{padding:5px;text-align: right; vertical-align: top; font-weight: bold;}
.profile-table td{padding:5px;text-align: left;  vertical-align: top; font-weight: 100;}

.cat-contents .cat-item {width:100%;overflow:hidden;position:relative;}
.cat-contents .cat-item .item-wr {white-space: nowrap;margin:0 90px 0 0; padding-left: 48px;}
.cat-contents .cat-item .item-wr.focused {border:1px solid;}
.cat-contents .cat-item .item-wr .item-actions{display:inline-block; vertical-align: top; margin-top: 14px;}
.cat-contents .cat-item-hover {background: url('../images/line-bar-bg.png') repeat-x;}
.cat-contents .cat-item .label-check-input{display:block;padding-left:12px;cursor: pointer}
.cat-contents .cat-item .check-button{cursor: pointer}
.cat-contents .delim-line {border-top: 1px solid #bfbfbf;}
.cat-contents .item-wr .slide-act{float:left; top:4px;width:23px; height:23px; cursor:pointer;margin-left:6px;margin-right: -6px;}
.cat-contents .item-wr .item-name{display:inline-block; white-space: normal; margin-left:10px; margin-right:15px; padding: 16px 0;}
.cat-contents .item-wr .slide-act.slide-plus{background-position:0 0;}
.cat-contents .item-wr .slide-act.slide-plus.no-chlds{background-position:-46px 0; cursor: auto}
.cat-contents .item-wr .slide-act.slide-minus{background-position:-23px 0;}
.cat-contents .item-wr .check-button-wr{float:left;}
.cat-contents .item-wr .check-button-wr input{opacity:0; margin-top:6px;}
.cat-contents .item-wr .check-button-wr input:checked{opacity:1; margin-top:6px;}


.childs-wr{margin-left:40px;}
.cat-contents .cat-section-item-name{font-size:19px; color:#000;text-decoration: none}
.cat-contents .cat-project-item{background: #ddd}
.cat-contents .cat-project-item-name{font-size:19px; color:#000;text-decoration: none}
.cat-contents .project-section-item-name{font-size:19px; color:#000;text-decoration: none}

.cat-contents .object-item .item-wr .item-name{margin-left:92px;margin-right:130px;}
.cat-contents .object-item-name{margin-left: -76px;font-size:17px; color:#000;text-decoration: none}

.edit-object-form .comments-textarea{width:100%}

/*.ui-autocomplete-loading{background:#fff url('../images/ajax-loader.gif') no-repeat; background-position: right 30px center;}*/

.ajax-loading-wr {display: none; position: fixed; z-index: 1000; top: 0; left:0;height:100%; width: 100%;background: rgba( 0, 0, 0, .2 ) url('../images/ajax-loader-modal.gif') 50% 50% no-repeat;
				  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity = 20);filter: alpha(opacity = 20)}
body.loading { overflow: hidden; }
body.loading .ajax-loading-wr { display: block;}

.profile-table {width:100%}
.profile-table th{width:30%}

.cat-section-form input[name]{width:350px}
.project-section-form input[name]{width:350px}

.ui-dialog .ui-dialog-titlebar {padding: .4em 1em; position: relative; min-height:1em}
/*===============================================*/
/*.offers-table-wr {max-width: 90000px;position:relative;overflow: auto}*/
.offers-table {border-collapse:collapse;border:1px solid #000;background: #fff;}
.offers-table th{padding: 3px;border:1px solid #000;}
.offers-table td{padding: 3px;border:1px solid #000;}

.ui-resizable-helper { border: 2px dotted #00F; }
.ui-icon-gripsmall-diagonal-se{display:none !important}



.edit-field-form .field-header{display:inline-block;width:230px;margin-top: 10px;vertical-align: top;}
.edit-field-form .field{display:inline-block;width:500px;margin-top: 6px;}
.edit-field-form label{display:block}

.edit-offer-form .field-header{display:inline-block;width:230px;margin-top: 10px;vertical-align: top;}
.edit-offer-form .field{display:inline-block;width:500px;margin-top: 6px;}
.edit-field-form label{display:block}

.fields-edit-list .field-item{margin: 10px; padding:3px; width: 300px;background-color: #eee; border:1px solid #000;  cursor: pointer;}

.delete-field-type-list-option-button{cursor:pointer; font-size:30px;}